<router-outlet></router-outlet>
<div class="container" [@fadeIn] *ngIf="isHomePage">
  <h1>Welcome to My Portfolio</h1>

  <div class="cards-container">
    <mat-card class="option-card" (click)="navigateToCV()">
      <mat-card-header>
        <mat-icon>description</mat-icon>
        <mat-card-title>View CV</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Explore my professional experience and skills.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="option-card" (click)="navigateToChatbot()">
      <mat-card-header>
        <mat-icon>chat</mat-icon>
        <mat-card-title>Chat with AI</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Interact with an AI assistant to learn more about my experience.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="option-card" (click)="navigateToGithub()">
      <mat-card-header>
        <mat-icon>code</mat-icon>
        <mat-card-title>GitHub Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Check out my projects and contributions on GitHub.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>